body{
	background-image: url(../img/bg.jpg);
	background-position:fixed;
	background-repeat:repeat-x;
	margin:0px;
	font-family:verdana,helvetica,arial,sans-serif;
	font-size:16px;
}
#logo-container{
	background-color:#333300;
	padding-right:5px;
	width:100%-5px;
	height:150px;
	font-size:17px;
	color:#FFFFFF;
}
#header_text_spacer{
	float:right;
	height:125px;
}
#header_text{
	float:right;
	height:15px;
}
#logo-container a:link{
	color:#FFFFFF;
	text-decoration:none;
}
#logo-container a:visited{
	color:#FFFFFF;
	text-decoration:none;
}
#logo-container a:hover{
	color:#D1D1D1;
}
#logo{
	background-image: url(../img/logo.png);
	background-repeat:no-repeat;
	background-size:contain;
	float:left;
	width:200px;
	height:100%;
}
#logo-spacer{
	width:100%;
	height:60px;
}
#login-container{
	width:100%;
	height:350px;
	text-align:center;
}
#login-sspacer{
	width:12.5%;
	float:left;
}
#login-box{
	background-color:#FFFFFF;
	float:left;
	width:30%;
	height:100%;
	padding:20px;
}
#login-spacer{
	float:left;
	width:10%;
}
#register-box{
	background-color:#FFFFFF;
	float:left;
	width:30%;
	height:100%;
	padding:20px;
}
#playbutton-spacer{
	height:10%;
}
#playbutton{
	width:100%;
	height:50px;
	text-align:center;
}
.playlist-container{
	width:100%-40px;
	padding-right:20px;
	padding-left:20px;
}
.playlist-spacer{
	height:5%;
}	
.playlist{
	height:15%;
	background-color:brown;
	width:100%-20px;
	color:#FFFFFF;
	padding-top:5px;
	padding-left:5px;
}
.playlist a:visited{
	color:#FFFFFF;
}
.playlist a:link{
	color:#FFFFFF;
	text-decoration:none;
}
.playlist a:hover{
	color:#D1D1D1;
}
#copyright{
	width:100%;
	text-align:center;
	bottom:0px;
	position:absolute;
}
#midcontent_spacer{
	width:30%;
	float:left;
}
#midcontent_box{
	width:40%;
	background-color:#FFFFFF;
	height:30%;
	float:left;
	padding:20px;
}
#vidbox_spacerl{
	float:left;
	width:5%;
}
#vidbox_spacerr{
	float:left;
	width:.5%;
}
.vidbox_playpn{
	width:10%;
	height:100%;
	float:left;
	position:50%;
	text-align:center;
}
.vidbox_playpnspacer{
	height:30%;
}
#vidbox{
	float:left;
	width:70%;
	height:70%;
}
#vidbox_player{
	width:80%;
	height:100%;
	float:left;
}
#vidbox_info{
	float:left;
	width:20%;
	height:100%;
	background-color:GREEN;
}
