<!---

user(request, user_name_url)
returns:
   user: the user associated with this profile
   userprofile: the UserProfile model of the user whose profile we are --
  --trying to view
   playlists: list of playlists associated with this user

---->

<body>
  <h2>{{ user.username|capfirst }}'s Profile</h2>
  {% if playlists %}
  <ul>
  {% for playlist in playlists %}
  <li>
  <a href="{{ playlist.url }}">{{ playlist.title }}</a>
  </li>
  {% endfor %}
  </ul>
  {% else %}
  <p>No playlists yet.</p>
  {% endif %}
  
</body>
