<html>
<head>
<title>ALL the media - Your media solution</title>
<link rel="stylesheet" href="{{STATIC_URL}}css/site.css" type="text/css" />
</head>
<body>
<div id="logo-container" align="right">
	<div id="logo"></div>
	<div id="header_text"></div>
	<br /><br /><br /><br /><br /><br />
	{% if user.is_authenticated %}
	  Welcome, <a href="/allthemedia/user/{{ user.username }}">
		{{ user.username }}</a>! |
	  <a href="/allthemedia/logout/">Logout</a> |
	  <a href="/allthemedia/add_playlist/">Add Playlist</a>
	{% else %}
	<a href="/allthemedia/register/">Register</a> |
	  <a href="/allthemedia/">Login</a>
	{% endif %}
	</div>
</div>
<div id="logo-spacer"></div>


<!-- Add form -->
<div id="midcontent_spacer">&nbsp;</div>
<div id="midcontent_box">
User Profile<hr />
<h2>{{ user.username|capfirst }}'s Profile</h2>
  {% if playlists %}
  <ul>
  {% for playlist in playlists %}
  <li>
  <a href="{{ playlist.url }}">{{ playlist.title }}</a>
  </li>
  {% endfor %}
  </ul>
  {% else %}
  <p>No playlists yet.</p>
  {% endif %}
</div>
<!-- end add form -->

<!-- Copyright -->
<div id="copyright">
Copyright &copy; ALL the media 2013+
<!-- End Copyright -->
</body>
</html>
